/* purgecss start ignore */
@tailwind base;
@tailwind components;

body {
  font-family: Lato;
}

.wrapper {
  max-width: 960px;
}

.content {
  max-width: 840px;
}

.footer {
  @apply bottom-0 left-0 bg-gray-800 w-full;
}

.font-heading {
  font-family: Aileron;
}

.font-body {
  font-family: Lato;
}

/* purgecss end ignore */
@tailwind utilities;
